.button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 15px; 
    -fx-padding: 0px;
}

.button:hover{
     -fx-background-color: none;
 }
 
.button:focused{
    -fx-background-color: none;
}
MenuBar{
    -fx-background-color: lightblue;
    -fx-background-size: 100%;
    -fx-background-radius: 7 7 0 0;
}