<!-- page content -->
<div id="masterContent">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ürün İşlemleri</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="form-group-sm">
                            <label class="col-sm-1 input-sm">Adı</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" data-ng-model="searchProductName">
                            </div>
                            <label class="col-sm-1 input-sm">Boya Türü</label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm"
                                        ng-model="searchPaintTypeSelect" data-ng-change="getPaintSubTypes(searchPaintTypeSelect);"
                                        ng-options="item.id as item.name for item in paintTypes">
                                    <option value="">Seçiniz..</option>
                                </select>

                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group-sm">
                            <label class="col-sm-1 input-sm">Kodu</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" data-ng-model="searchProductCode">
                            </div>
                            <label class="col-sm-2 input-sm">Boya Alt Türü</label>
                            <div class="col-sm-3" style="margin-left: -96px;">
                                <select class="form-control input-sm"
                                        ng-model="searchPaintSubTypeSelect"
                                        ng-options="item.id as item.name for item in paintSubTypes">
                                    <option value="">Seçiniz..</option>
                                </select></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group-sm">
                            <label class="col-sm-1 input-sm">Renk Adı</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" data-ng-model="searchColorName">
                            </div>
                            <label class="col-sm-1 input-sm">Yoğunluğu</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" data-ng-model="searchDensity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group-sm">
                            <label class="col-sm-1 input-sm">Renk Kodu</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" data-ng-model="searchColorCode">
                            </div>
                            <label class="col-sm-1 input-sm">Ürün Tipi</label>
                            <div class="col-sm-3">

                                <p>
                                    <input type="radio" class="flat" name="uruntipi" id="searchMainProduct" value="ana" checked="" required />
                                    &nbsp;&nbsp;Ana Ürün&nbsp;&nbsp;
                                    <input type="radio" class="flat" name="uruntipi" id="searchIntermProduct" value="ara" />
                                    &nbsp;&nbsp;Ara Ürün
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-danger btn-sm"
                                        data-dismiss="modal"><i class="fa fa-search"></i> Ara
                                </button>
                                <button type="button" class="btn btn-info btn-sm"
                                        data-dismiss="modal"><i class="fa fa-trash"></i> Temizle
                                </button>
                            </div>
                        </div>
                    </div>
                    <br/>


                    <div class="row">
                        <div class="form-group">
                            <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#ProductModal" data-ng-click="openRawMaterialModal(null)"><i
                                    class="fa fa-save"></i>
                                Yeni Ürün Ekle
                            </button>-->
                            <a href="#urunEkle" type="button" class="btn btn-primary btn-sm"><i
                                    class="fa fa-save"></i>
                                Yeni Ürün Ekle</a>
                            <button type="button" id="excelExport" data-ng-click="exportRawMaterialExcel()"
                                    class="btn btn-danger btn-sm"><i
                                    class="fa fa-file-excel-o"></i>
                                Excel'e
                                Aktar
                            </button>
                            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter
                                 class="gridProduct"></div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->
