<!-- page content -->
<div id="masterContent">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Boya Alt Türü İşlemleri</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-1 input-sm">Boya Türü yeni </label>

                            <div class="col-md-3">
                                <select id="paintTypeSelect" class="form-control input-sm"
                                        data-ng-model="paintTypesList">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group-sm">
                            <label class="col-sm-1 input-sm">Boya Alt Türü</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm"
                                           data-ng-model="searchPaintSubTypeName">
                                    <span class="input-group-btn">
                                              <button type="button" data-ng-click="cleanSearchPaintSubTypeName()"
                                                      class="btn btn-info btn-sm"><i class="fa fa-times"></i></button>
                                        <button style="margin-left: -5px;" type="button" class="btn btn-danger btn-sm"
                                                data-ng-click="searchPaintType(searchPaintTypeName)"><i
                                                class="fa fa-search"></i>
                                </button>
                                           </span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <!--Ekle-->
                    <div class="row">
                        <div class="form-group-sm">
                            <div class="modal fade bs-example-modal-sm" id="addPaintTypeModal" tabindex="-1"
                                 role="dialog"
                                 aria-hidden="true"
                                 style="display: none;margin-top: 170px;">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel2">Boya Türü | Yeni
                                                Kayıt</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="col-sm-4 input-ssm">Boya Türü : </label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control input-sm" type="text"
                                                               data-ng-model="addPaintTypeName" size="30" required/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button data-ng-click="addPaintType()" type="button"
                                                    class="btn btn-primary btn-sm"
                                                    data-dismiss="modal"><i
                                                    class="fa fa-save"></i> Kaydet
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm"
                                                    data-dismiss="modal"><i
                                                    class="fa fa-ban"></i> İptal
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Düzenle-->
                    <div class="row">
                        <div class="form-group-sm">
                            <div class="modal fade bs-example-modal-sm" id="editPaintTypeModal" tabindex="-1"
                                 role="dialog"
                                 aria-hidden="true"
                                 style="display: none; margin-top: 170px;"
                            ">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title">Boya Türü | Düzenle</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 input-ssm">Boya Türü : </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control input-sm" type="text"
                                                           id="csname"
                                                           data-ng-model="editPaintTypeName" size="30" required/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-ng-click="updatePaintType()" type="button"
                                                class="btn btn-primary btn-sm"
                                                data-dismiss="modal"><i
                                                class="fa fa-save"></i> Güncelle
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm"
                                                data-dismiss="modal"><i
                                                class="fa fa-ban"></i> İptal
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#addPaintTypeModal" data-ng-click="cleanPaintTypeName()"><i
                                class="fa fa-save"></i>
                            Yeni Boya Türü Ekle
                        </button>
                        <button type="button" id="excelExport" data-ng-click="exportExcelPaintType()"
                                class="btn btn-danger btn-sm" style="margin-left: 348px"><i
                                class="fa fa-file-excel-o"></i> Excel'e
                            Aktar
                        </button>
                        <div ui-grid="gridOptionsPaintType" ui-grid-pagination ui-grid-selection ui-grid-exporter
                             class="grid"></div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>

</div>
<!-- /page content -->